* {
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0%;
    background-color: rgb(27, 4, 46);
    background: url("./images/fond_satin.png");

    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

body h1 {
    margin: 15rem auto 15px auto;
    color: white;
    align-self: center;
}

body a {

    color: #E94E1B;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 20px;
    border: 1px solid #E94E1B;
    background: transparent;
    margin: 15px auto auto auto;
    align-self: center;
}

body img {
    height: 40vh;
    position: absolute;
    left: 40%;
    top: 55%;
    transform: rotate(-50, -50);
}