* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #f3f1f0;

    font-family: "Schnyder Cond M Light";
    color: #2c1e3c;

    cursor: crosshair;
}

section {
    height: 100vh;
}

a {
    text-decoration: none;
}

.main_text {
    color: blue;
    font-size: 0.5rem;
    width: 50%;
    display: block;
    margin: 10px;
}