body{
    margin: 0px;
}

/*formulaire*/
.wrapper {
  width: 100%;
  border: 0px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  border: 0px;
  background: rgba(29, 29, 29, 0);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 0 10px;
}


.input-field {
  display: flex;
  flex-direction: column;
  margin-right: 0%;
}

.input-field,
.msg {
  width: 38%;
}

.select {
  width: 38%;
}

input:focus {
  transform: scale(1.1);

}

.input {
  margin-bottom: 10px;
  border: 0;
  background-color: transparent;
  width: 80%;
  padding: 10px;
  color: #E94E1B;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #E94E1B;
}

.msg {

  margin-bottom: 10px;
  border: 0;
  background-color: transparent;
  width: 50%;
  padding: 10px;
  color: #E94E1B;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  border-bottom: 2px solid #E94E1B;
}

.input-field .input .msg textarea {
  margin: 10px 0;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #c5ecfd;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

option {
  color: #c5ecfd;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}

.msg textarea {
  height: 212px;
  margin: 10px 0;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 10px;
  color: #E94E1B;

}
/*fond étoilé*/
.accueil{
    width: 100vw;
    height: 100vh;
    background-image: url('images/fond_satin.png');
    margin: 0px;
    padding: 0px;
}

a{text-decoration: none;}

.planete1{
    transform: rotate(110deg);
    position: absolute; top: 20%; left: 10%;
    height: 40%;
    z-index: 2;
}
.web{
    width: 15%;
    position: absolute; top: 20%; left: 25%;
    z-index: 1;
}
.Marketing{

}
.left{
    position: absolute; top: 20%; left: 10%;
    height: 40%;
    width: 20%;
    z-index: 12;
}
.saturne{
    height: 20%;
    position: absolute; top: 10%; right: 10%;
    z-index: 11;
}
.terre{
  height: 20%;
    position: absolute; top: 10%; right: 20%;
    z-index: 11;
}
.graphisme{
    width: 20%;
    position: absolute; top: 5%; right: 2%;
    z-index: 1;
}
.reseaux{
    width: 20%;
    position: absolute; top: 39%; right: 20%;
    z-index: 1;
}
.planete3{
    height: 9%;
    position: absolute; top: 8%; left: 38%;
    z-index: 11;
}
.Communication{
    width: 20%;
    position: absolute; top: 5%; left: 41%;
    z-index: 1;
}
.dev{
    width: 20%;
    position: absolute; top: 8%; right: 18%;
    z-index: 11;
}
.planete2{
    height: 60%;
    position: absolute; bottom: 0px; right: 0px;
    z-index: 2;
}
.Big{
    position: absolute; bottom: 0%; right: 0%;
    height: 60%;
    width: 22%;
    z-index: 12;
}
.big2{
    position: absolute; bottom: 55%; right: 20%;
    height: 6%;
    width: 22%;
    z-index: 12;
}
.sun2{
    height: 15%;
    position: absolute; top: 30%; left: 48%;
    
}

.retour{
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
    float: left;
    position: absolute; top: 2%; left: 2%;
}

table{
    color: #E94E1B;
    margin-left: 35px;
}
td{
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.definx{
    font-size: 1vw;
}
.linke{
  color: #E94E1B;
}

.croix{
  width: 40%;
}
.divcroix{
  position: absolute; left: 0.1%; top: 2%;
}
.position{
  padding: 20px;
  
}
th{
    font-family: 'Roboto', sans-serif;
}
h2{
    color:#E94E1B;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}
.couleur{
    color:#E94E1B;
}

.cockpit{
    position: absolute; bottom: 0px;
    width: 100vw;
    height: 75vh;
    z-index: 10;
}

a#metiers{
    float: left;
    margin: 0px;
    position: absolute;
    top: 67.5%;
    left: 21%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}
a#propos{
    float: left;
    margin: 0px;
    position: absolute;
    top: 56.5%;
    left: 33.5%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}
a#twitter{
    float: left;
    margin: 0px;
    position: absolute;
    top: 71.5%;
    left: 33.5%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}
a#neuf{
    float: left;
    margin: 0px;
    position: absolute;
    top: 67.5%;
    left: 72%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}
a#identité{
    float: left;
    margin: 0px;
    position: absolute;
    top: 57%;
    left: 59%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}
a#insta{
    float: left;
    margin: 0px;
    position: absolute;
    top: 72.5%;
    left: 58%;
    color: #E94E1B;
    text-decoration: none;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    z-index: 11;
}


/*
ICI LE COEUR DU SUJET
*/
.definition {
    /* par défaut les définitions sont masquées mais conservées dans le flux. Ce qui permet aux "robots" d'accéder à ce contenu. */
      /*position: absolute;*/
      border: 0;
      height: 1px;
      width: 1px;
      padding: 0;
      overflow: hidden;
      z-index: 12;
      clip: rect(1px 1px 1px 1px); /* IE6 & IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      text-align: center;
    }
    .definition:target {
    /* Lorsqu'une définition est la cible d'un lien (action cliquer), celle-ci rétablit le style des définitions les rendants visibles à l'oeil. */
      position: absolute;
      top: 20%; 
      left: 38%;
      height: 65%;
      width: 25%;
      padding: initial;
      clip: initial;
      background-color: #150905;
      border: grey solid 3px;
      z-index: 12;
      color: black;
      display: block;
    }
    
    .definition:target ~ small {
        /* cette information est éjectée du flux car non indispensable ni en accessibilité ni en SEO ou autre (où alors un truc auquel je n'ai pas pensé). */
          display: none;
        }













        /*animation flotement*/
@-webkit-keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      -webkit-transform: translatey(-20px);
              transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
  }
  
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      -webkit-transform: translatey(-10px);
              transform: translatey(-10px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
  }

  .float{
    animation: float 3s ease-in-out infinite;
  }



  /* ----------------------------------------------
 * Generated by Animista on 2020-6-4 14:38:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  

  .scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-6-4 14:41:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  }
  
.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-6-4 14:48:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

::-webkit-scrollbar{
  display: none;
}